body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
}

#container {
    margin: 3em;
}

#inputContainer {
    display: grid;
    grid-template-areas: 
    "top top"    
    "left right";
    gap: 0 50px;
    height: 80vh;
    grid-template-rows: 80px auto;
    grid-template-columns: 1fr 1fr;
}

.top {
    text-align: center;
}

#leftInput {
    grid-area: left;
}

#rightInput {
    grid-area: right;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

#button {
    margin-top: 5vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

#button a:link, #button a:visited {
    color: white;
    text-decoration: none;
    width: 100%;
    background-color: black;
}

.resultsContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    font-family: monospace;
}

.alignedString {
    white-space: nowrap;
    line-height: 0;
}