@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --light: white;
    --dark: #191919;
}

.light {
    --bodyColor: var(--light);
    --fontColor: var(--dark);
    --buttonBox: var(--dark);
    --buttonText: var(--light);
    --borderColor: var(rgb(44, 44, 44));
    --sliderColor: rgb(100, 100, 100);
    --highlighted: rgb(245, 245, 245);
}

.dark {
    --bodyColor: var(--dark);
    --fontColor: var(--light);
    --buttonBox: var(--dark);
    --buttonText: var(--light);
    --borderColor: var(rgb(255, 255, 255));
    --sliderColor: white;
    --highlighted: rgb(29, 29, 29);
}

body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: 'Baloo Thambi 2', cursive;
    background-color: var(--bodyColor);
    color: var(--fontColor);
    transition: 500ms;
    transition-property: background-color, color;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sliderColor);
}

#colorBanner {
    height: 3px;
    width: 100%;
    background: linear-gradient(45deg, rgba(255,128,0,1) 0%, rgba(172,0,41,1) 15%, rgba(145,0,69,1) 30%, rgba(145,0,100,1) 43%, rgba(121,0,145,1) 57%, rgba(0,34,145,1) 71%, rgba(0,88,145,1) 87%, rgba(0,117,145,1) 100%);
}

#navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#iconDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    transition: 500ms;
}

#iconDiv img {
    height: 25px;
    width: 25px;
}

#iconDiv:hover {
    transform: rotate(45deg);
}
 
#iconDiv:hover + div {
    visibility: visible;
    cursor: pointer;
}

.dropdown {
    position: absolute;

    padding: 0.5rem;
    background-color: var(--bodyColor);
    z-index: 10;
    background-color: var(--bodyColor);

    transition: 500ms;
    transition-property: background-color, color;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.25);

    visibility: hidden;
}

.dropdown:hover {
    visibility: visible;
}

.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 50px;
    padding: 0.5rem;
    margin: 1em;

    text-decoration: none;
    color: var(--fontColor);
    border-radius: 5px;
    transition: 500ms;
    transition-property: background-color, color;
}

.menuItem:hover {
    background-color: var(--highlighted);
}

.menuItem p {
    align-self: flex-end;
}

.menuIconDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;

    background-color: rgb(230, 230, 230);
    padding: 5px;
    border-radius: 50%;
}

.menuIconDiv img {
    height:20px;
    align-self: flex-start;
    filter: opacity(0.9);
}

.font2 {
    font-family: 'Roboto Mono', monospace;
}

.top {
    text-align: center;
    position: relative;
}

.top p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

#topLeft {
    grid-area: topLeft;
}

#topRight {
    grid-area: topRight;
}

#leftInput {
    grid-area: left;
}

#rightInput {
    grid-area: right;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border-width: 1px;

    color: var(--fontColor);
    background-color: var(--bodyColor);
    transition: 500ms;
    transition-property: background-color, color;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#button {
    margin-top: 5vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

#button a:link, #button a:visited {
    color: var(--buttonText);
    background-color: var(--buttonBox);
    text-decoration: none;
    width: 100%;
    padding: 3px 10px;
    border-radius: 1px;
}

#button a:hover {
    color: var(--buttonBox);
    background-color: var(--buttonText);
    transition: 0.5s;
    transition-property: background-color, color;
}

.resultsContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    font-family: monospace;
}

#results {
    margin-bottom: 3em;
}

.alignedString {
    white-space: nowrap;
    line-height: 0;
}

footer {
    margin: 1em;
    text-align: center;
}

@media only screen and (max-device-width: 600px) {
    
    .dropdown {
        top: 2em;
        width: calc(100vw - 3em);
    }
    
    #container {
        margin: 1em;
        margin-top: 3em;
        text-align: center;
    }

    #inputContainer {
        display: grid;
        grid-template-areas: 
        "topLeft"    
        "left"
        "topRight"
        "right";
        gap: 0 5px;
        height: 100vh;
        grid-template-rows: 10vh auto 10vh auto;
        grid-template-columns: 1fr;
    }

    #iconDiv {
        position: absolute;
        top: 20px; 
        right: 20px;
    }
}

@media only screen and (min-device-width: 600px) {
    
    .dropdown {
        top: 2em;
        right: 1em;
        width: 300px;
    }

    #container {
        margin-top: 3em;
        margin-bottom: 3em;
        margin-left: 5em;
        margin-right: 5em;
    }
    
    #inputContainer {
        display: grid;
        grid-template-areas: 
        "topLeft topRight"    
        "left right";
        gap: 0 50px;
        height: 80vh;
        grid-template-rows: 10vh auto;
        grid-template-columns: 1fr 1fr;
    }
}